<h1>Messages List</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Chat ID</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.user.first_name %></td>
        <td><%= message.chat_id %></td>
        <td><%= message.body %></td>
        <td>
          <%= link_to 'Show', message_path(message), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Edit', edit_message_path(message), class: "btn btn-warning btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Add New Message', new_message_path, class: "btn btn-success" %></p>
