<h1>Message Details</h1>

<p><strong>Sender:</strong> <%= @message.user.first_name %> <%= @message.user.last_name %></p>
<p><strong>Chat ID:</strong> <%= @message.chat_id %></p>
<p><strong>Message:</strong> <%= @message.body %></p>

<p><%= link_to 'Edit this Message', edit_message_path(@message), class: "btn btn-primary" %></p>
<p><%= link_to 'Back to Messages', messages_path, class: "btn btn-secondary" %></p>
<p><%= link_to 'Add New Message', new_message_path, class: "btn btn-success" %></p>
