<h1>Mensaje</h1>
<p><strong>Chat ID:</strong> <%= @message.chat_id %></p>
<p><strong>Usuario ID:</strong> <%= @message.user_id %></p>
<p><strong>Contenido:</strong> <%= @message.body %></p>

<%= link_to "Back to list", messages_path, class: "btn btn-secondary" %>

<p><%= link_to 'Back to Messages', messages_path %></p>
<p><%= link_to 'Add New Message', new_message_path %></p>
