<h1>Chats List</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.sender.first_name %></td>
        <td><%= chat.receiver.first_name %></td>
        <td>
          <%= link_to 'Show', chat_path(chat), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Edit', edit_chat_path(chat), class: "btn btn-warning btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Add New Chat', new_chat_path, class: "btn btn-success" %></p>
