<h1 class="mb-4">Start a New Chat</h1>

<%= form_with(model: @chat, local: true) do |form| %>
  <% if @chat.errors.any? %>
    <div class="alert alert-danger">
      <h4>Errors:</h4>
      <ul>
        <% @chat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :receiver_id, "Select a user to chat with", class: "form-label" %>
    <%= form.collection_select :receiver_id, User.where.not(id: current_user.id), :id, :full_name, prompt: "Choose a user", class: "form-select" %>
  </div>

  <%= form.hidden_field :sender_id, value: current_user.id %>

  <%= form.submit "Start Chat", class: "btn btn-success" %>
<% end %>

<p class="mt-3">
  <%= link_to 'Back to Inbox', chats_path, class: "btn btn-outline-secondary" %>
</p>
